header {
  background-color: rgba(0, 0, 0, 0.903);
  color: rgba(255, 255, 255, 0.988);
  animation-name: head;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-delay: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

}

@keyframes head {
 0% {transform: translateY(-150%);
}

100% {
  transform: translateY(0%);
}
}

nav {
  background-color: aqua;
  animation-name: link;
  animation-duration: 5s;
}

@keyframes link {
  0% 
  {transform: translateX(-100%)}

  100%

  {transform: translateX(0%)}
}